@{
    //========================================================================================================================
    // WEBSITE: Poker Playground - Experimental virtual poker
    //
    // _Randomness_Display.cshtml
    //      Renders the card display area on the randomness comparison page.
    //========================================================================================================================
}

@using SSCasino.Models;
@model Randomness

<div class="ssc_Randomness_SampleCardsContainer">
    <!-- Fisher-Yates shuffle samppe cards-->
    <div class="ssc_Randomness_SampleCardsArea">
        <div class="ssc_Randomness_ShuffleTitle">Fisher-Yates Shuffling Algorithm</div>
        <div class="ssc_Randomness_SampleCards">
            <div class="ssc_CardShuffler_CardsAreaRow">@Html.Partial("_Randomness_CardSamples", Model.ShuffledPackageFisher.CardPack.CardDeck)</div>
        </div>
    </div>

    <!-- Naive shuffle samppe cards-->
    <div class="ssc_Randomness_SampleCardsArea">
        <div class="ssc_Randomness_ShuffleTitle">Naive Shuffling Algorithm</div>
        <div class="ssc_Randomness_SampleCards">
            <div class="ssc_CardShuffler_CardsAreaRow">@Html.Partial("_Randomness_CardSamples", Model.ShuffledPackageNaive.CardPack.CardDeck)</div>
        </div>
    </div>
</div>
