@{
    //========================================================================================================================
    // WEBSITE: Poker Playground - Experimental virtual poker
    //
    // _Randomness_CardSamples.cshtml
    //      Renders the sample cards display area
    //========================================================================================================================
}

@using SSCasino;
@using SSCasino.Models;
@model List<PlayingCard>

@{
    int sampleSize = Model.Count;
    string slotClass = ((sampleSize == 4) ? "ssc_Randomness_SampleCards_4Slot" : "ssc_Randomness_SampleCards_6Slot");

    for (int cardIndex = 0; cardIndex <= (sampleSize - 1); cardIndex++)
    {
        <div class="@slotClass"><img class="ssc_CardShuffler_Card ssc_ResponsiveImage" src="@Url.Content(Model.ElementAt(cardIndex).ImagePath)" /></div>
    }
}
