@{
    //========================================================================================================================
    // WEBSITE: Poker Playground - Experimental virtual poker
    //
    // _Randomness_CardSamples.cshtml
    //      Renders the sample cards display area
    //========================================================================================================================
}

@using SSCasino;
@using SSCasino.Models;
@model List<PlayingCard>

<div class="ssc_CardSamplesDisplay">
    @{
        int sampleSize = Model.Count;
        string slotClass = ((sampleSize == 4) ? "ssc_CardSamplesDisplay4Slot" : "ssc_CardSamplesDisplay6Slot");

        for (int cardIndex = 0; cardIndex <= (sampleSize - 1); cardIndex++)
        {
            <div class="@slotClass"><img class="ssc_ResponsiveImage ssc_PlayingCard ssc_SampleCard" src="@Url.Content(Model.ElementAt(cardIndex).ImagePath)" /></div>
        }
    }
</div>
