@{
// WEBSITE: Poker Playground - Experimental virtual poker
//
// _FormHeader.cshtml
//      This page renders a form footer based on the properties in the model
//========================================================================================================================
}

@using SSCasino.Models;
@model FormFooter

@{
    <div class="ssc_FormFooter @Model.FormStyles"></div>
}
