/*
//========================================================================================================================
// WEBSITE: Poker Playground - Experimental virtual poker
//
// Casino.css
//      Style shared across the site
//========================================================================================================================
*/

/*
//========================================================================================================================
// Body
//========================================================================================================================
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: Footlight MT, Arial;
    font-size: 14pt;
    color: #e5e5e5;
}

.ssc_DefaultBodyBackground {
    background: rgb(102,89,41);
    background: radial-gradient(circle, rgba(102,89,41,1) 0%, rgba(47,45,39,1) 100%);
}

/*
//========================================================================================================================
// Site Header
//========================================================================================================================
*/

.ssc_SiteHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .75vh 0vw;
    border-bottom: solid 1px #aa964d;
    background-color: #000000;
    background-image: url("/Content/Images/SiteHeader/SuitHeadrer.png");
    background-position: top left;
    background-repeat: repeat-x;
}

.ssc_SiteHeader_Left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.ssc_SiteHeader_SiteLogo {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 6.5vw;
    padding: 0vh 1vw;
}

.ssc_SiteHeader_SiteName {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: calc(8pt + 2.5vh);
    color: #aa964d;
}

.ssc_SiteHeader_Right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.ssc_SiteHeader_Action {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0vh 1vw;
}

.ssc_SiteHeader_Link:hover {
    filter: brightness(125%);
    position: relative;
    top: -5px;
}

.ssc_SiteHeader_LinkImage {
    max-width: 6vw;
}

.ssc_SiteHeader_LinkText {
    font-size: calc(4pt + 2vh);
    color: #aa964d;
    white-space: nowrap;
}

/*
//--------------------------------------------------
// Swap the standard and mini menus at a specific 
// screen or browser window size
//--------------------------------------------------
*/
@media screen and (max-width: 800px) {
    #div_MiniMenuContainer {
        display: block;
    }

    #div_StandardMenuContainer {
        display: none;
    }
}

/*
//--------------------------------------------------
// Mini Menu
//--------------------------------------------------
*/

.ssc_MiniMenu {
    border: 1px solid #aa964d;
    background-color: #333333;
    padding: 12px;
}

.ssc_MiniMenuItem {
    font-family: 'Footlight MT';
    font-size: 16pt;
    color: #aa964d;
    line-height: 150%;
    text-decoration: none;
    cursor: pointer;
}

.ssc_MiniMenuItem:hover {
    text-decoration: underline;
}


/*
//========================================================================================================================
// Site Popup
//========================================================================================================================
*/

.ssc_SitePopup {
    display: none;
    width: 60vw;
    position: absolute;
    top: calc(10vh + 120px);
    left: calc((100vw - 60vw) / 2);
    z-index: 800;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: #333333;
    border: 2px solid #aa964d;
    border-radius: 16px;
    box-shadow: 8px 16px 30px -8px #1a1a1a;
}

.ssc_SitePopup_Logo {
    float: left;
    width: 64px;
    margin-right: 20px;
}

.ssc_SitePopup_Title {
    float: left;
    line-height: 64px;
    color: #aa964d;
    font-size: 19pt
}

.ssc_SitePopup_Body {
    margin-left: 84px;
    color: #e5e5e5;
    line-height: 125%;
    font-size: 15pt;
}

.ssc_SitePopup_TechHeader {
    margin-top: 32px;
    margin-bottom: 16px;
    color: #aa964d;
    font-size: 16pt;
}

.ssc_SitePopup_TechLineHeader, .ssc_SitePopup_TechLineBody {
    padding-bottom: 12px;
    font-size: 14pt;
}

.ssc_SitePopup_TechLineHeader {
    margin-left: 84px;
    color: #e5e5e5;
}

.ssc_SitePopup_TechLineBody {
    color: #2f9bb8;
}

.ssc_CloseButton {
    width: 140px;
    height: 39px;
    margin: 30px auto 0px auto;
    background-image: url("/Content/Images/Home/CloseButtonUp.png");
    background-position: center;
    background-repeat: no-repeat;
}

.ssc_CloseButton:active {
    background-image: url("/Content/Images/Home/CloseButtonDown.png");
}


/*
//========================================================================================================================
// Server Not Running Page
//========================================================================================================================
*/

.ssc_NoServerContainer {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: rgb(102,89,41);
    background: radial-gradient(circle, rgba(102,89,41,1) 0%, rgba(47,45,39,1) 100%);
}

.ssc_NoServerBox {
    border: 1px solid #aa964d;
    background-color: #333333;
    padding: 30px;
}

.ssc_NoServerImage {
    float: left;
    width: 80px;
    margin-right: 20px;
}

.ssc_NoServerMessage {
    float: left;
    font-size: 18pt;
    line-height: 69px;
    color: #aa964d;
}

.ssc_NoServerContact {
    font-size: 14pt;
    color: #e5e5e5;
    padding-top: 12px;
}


/*
//========================================================================================================================
// Information & Technology Panel
//========================================================================================================================
*/

.ssc_InfoPanel {
    width: 100%;
}

.ssc_InfoPanelSlider {
    display: none;
    padding: 1vh 1vw;
    background-color: #333333;
    border-bottom: 1px solid #aa964d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ssc_InfoPanelEntryTitle, .ssc_InfoPanelEntryTitleSpace {
    font-size: calc(6pt + 1vh);
    color: #aa964d;
    text-decoration: underline;
    padding-bottom: 1vh;
}

.ssc_InfoPanelEntryTitle {
    padding-top: 1vh;
}

.ssc_InfoPanelEntryTitleSpace {
    padding-top: 2vh;
}

.ssc_InfoPanelEntryLineHeader, .ssc_InfoPanelEntryLineBody {
    font-size: calc(6pt + 1vh);
    padding-bottom: 1vh;
}

.ssc_InfoPanelEntryLineHeader {
    width: 1px;
    padding-right: 1.5vw;
    color: #e5e5e5;
}

.ssc_InfoPanelEntryLineBody {
    color: #2f9bb8;
}

.ssc_InfoPanelEntrySpace {
    padding-top: 1vh;
}

.ssc_InfoPanelLink, .ssc_InfoPanelLink:active, .ssc_InfoPanelLink:visited {
    text-decoration: underline;
    color: #fffe80;
}

.ssc_InfoPanelLink:hover {
    text-decoration: underline;
    color: #80ffff;
}

.ssc_InfoPanelHandle {
    max-width: 12vw;
    min-width: 10vw;
    padding-left: 2vw;
    cursor: pointer;
}

/*
//========================================================================================================================
// Poker Room
//========================================================================================================================
*/

/*
//--------------------------------------------------
// Page Structure
//--------------------------------------------------
*/

.ssc_PokerRoom {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    height: calc(100vh - 120px);
}

.ssc_PokerRoom_InfoArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #386e91;
}

.ssc_PokerRoom_GameInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-evenly;
    align-items: flex-start;
}

.ssc_PokerRoom_GameOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: space-evenly;
    align-items: center;
}

.ssc_PokerRoom_PlayArea {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
    background: #386e91;
    background: radial-gradient(circle, rgba(39,123,173,1) 0%, rgba(56,110,145,1) 100%);
}

.ssc_PokerRoom_PlayAreaLeftColumn, .ssc_PokerRoom_PlayAreaRightColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    z-index: 700;
    padding: 20vh 0px;
}

.ssc_PokerRoom_PlayAreaLeftColumn {
    left: 6vw;
}

.ssc_PokerRoom_PlayAreaRightColumn {
    right: 6vw;
}

.ssc_PokerRoom_PlayAreaCenterColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
}

.ssc_PokerRoom_PlayAreaTopRow, .ssc_PokerRoom_PlayAreaBottomRow, .ssc_PokerRoom_PlayAreaTableRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
}

.ssc_PokerRoom_PlayAreaTopRow, .ssc_PokerRoom_PlayAreaBottomRow {
    position: relative;
    z-index: 700;
    padding: 0px 2vw;
}

.ssc_PokerRoom_PlayAreaTopRow {
    top: 6vh;
}

.ssc_PokerRoom_PlayAreaBottomRow {
    bottom: 6vh;
}

.ssc_PokerRoom_Table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    border: 2px solid #4d9dcc;
    border-radius: 30vw;
}

.ssc_PokerRoom_TablePot {
    position: relative;
    top: 7vh;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
    text-align: center;
    font-size: 2.5vh;
    color: #e5e5e5;
    white-space: nowrap;
}

.ssc_PokerRoom_TableCards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 10;
    flex-shrink: 10;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    max-width: 63%;
    margin: 8vh auto;
}

.ssc_PokerRoom_TableCard {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 2vw;
    max-width: 6vw;
    max-width: 12vh;
}

.ssc_PokerRoom_TableName {
    position: relative;
    bottom: 6vh;
    flex-grow: 1;
    flex-shrink: 1;
    color: #4d9dcc;
    font-size: 3vh;
}

.ssc_PokerRoom_TableSeat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
/*    background: #386e91;
    opacity: .75;
*/}

.ssc_PokerRoom_TableSeatTop {
    justify-content: flex-start;
}

.ssc_PokerRoom_TableSeatBottom {
    justify-content: flex-end;
}

.ssc_PokerRoom_TableSeatLeft {
    align-items: flex-start;
}

.ssc_PokerRoom_TableSeatRight {
    align-items: flex-end;
}

.ssc_PokerRoom_PlayerArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #386e91;
}

.ssc_PokerRoom_PlayerChat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
}

.ssc_PokerRoom_PlayerActions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: flex-start;
}

.ssc_PlayingCard {
    box-shadow: 8px 8px 6px -6px #333333;
    min-width: 25px;
}



/*
//========================================================================================================================
// Common Styles
//========================================================================================================================
*/

.ssc_Hidden {
    display: none;
}

.ssc_Visible {
    display: block;
}

.ssc_AlignLeft {
    text-align: left;
}

.ssc_AlignRight {
    text-align: right;
}

.ssc_AlignCenter {
    text-align: center;
}

.ssc_FloatParent {
    overflow: hidden;
}

.ssc_FloatLeft {
    float: left;
}

.ssc_FloatRight {
    float: right;
}

.ssc_VSpaceSmall {
    margin-top: 10px;
}

.ssc_VSpaceMedium {
    margin-top: 20px;
}

.ssc_VSpaceLarge {
    margin-top: 40px;
}

.ssc_ClearFix {
    clear: both;
}


/*
//========================================================================================================================
// Common Text Styles
//========================================================================================================================
*/

.ssc_TextBold {
    font-weight: bold;
}

.ssc_TextUnderline {
    text-decoration: underline;
}

.ssc_TextSuccess {
    color: #008001
}

.ssc_TextWarning {
    color: #ff8200;
}

.ssc_TextError {
    color: #a20707;
}


/*
//========================================================================================================================
// Responsive Video & Images
//========================================================================================================================
*/

.ssc_ResponsiveImage {
    width: 100%;
    height: auto;
}

/*
//--------------------------------------------------------------------------------
// Developer Notes
//      The padding of 56.25% is calculated for a 16:9 aspect ratio (9/16 = .5625)
//--------------------------------------------------------------------------------
*/
.ssc_ResponsiveVideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.ssc_ResponsiveIFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/*
//========================================================================================================================
// Error Handling
//========================================================================================================================
*/

.ssc_CallStackHeader {
    font-weight: bold;
    color: #E5E5E5;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aa964d;
    background-color: #666666;
}

.ssc_CallStack {
    height: 40vh;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    color: #1a1a1a;
    border: 1px solid #aa964d;
}

.ssc_CallStackEntry, .ssc_CallStackEntryEven, .ssc_CallStackEntryOdd {
    padding: 6px;
    border-bottom: 1px solid #ffffff;
}

.ssc_CallStackEntryEven {
    background-color: #7bc1eb;
}

.ssc_CallStackEntryOdd {
    background-color: #cccccc;
}

.ssc_ErrHomeButton {
    width: 180px;
    height: 50px;
    display: inline-block;
    margin-top: 20px;
    background-image: url("/Content/Images/ErrorHandling/HomeButtonUp.png");
    background-position: center;
    background-repeat: no-repeat;
}

.ssc_ErrHomeButton:active {
    background-image: url("/Content/Images/ErrorHandling/HomeButtonDown.png");
}


/*
//========================================================================================================================
// Table Like DIVs 
//========================================================================================================================
*/

.ssc_Table {
    display: table;
    width: 100%;
}

.ssc_TableCaption {
    display: table-caption;
}

.ssc_TableColGroup {
    display: table-column-group;
}

.ssc_TableColHeader {
    display: table-header-group;
}

.ssc_TableBody {
    display: table-row-group;
}

.ssc_TableColFooter {
    display: table-footer-group;
}

.ssc_TableColumn {
    display: table-column;
}

.ssc_TableRow {
    display: table-row;
}

.ssc_TableCell, .ssc_FieldLable, .ssc_FieldValue, .ssc_FieldHeader, .ssc_RightButton, .ssc_LeftButton {
    display: table-cell;
}

.ssc_FieldLable {
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 10px;
}

.ssc_FieldValue {
    vertical-align: middle;
    padding-bottom: 10px;
}

.ssc_FieldHeader {
    vertical-align: bottom;
    padding-bottom: 4px;
}

.ssc_RightButton {
    width: 1px;
    text-align: right;
    padding-left: 12px;
}

.ssc_LeftButton {
    width: 1px;
    text-align: left;
    padding-right: 12px;
}


/*
//========================================================================================================================
// Common Dialogs
//========================================================================================================================
*/

.ssc_DialogHeader {
    padding: 20px 20px 0px 20px;
}

.ssc_DialogImage {
    width: 1px;
    padding-right: 8px;
}

.ssc_DialogMessage {
    font-weight: bold;
    line-height: 150%;
    vertical-align: middle;
}

.ssc_DialogBody {
    margin: 10px 20px 0px 20px;
}

.ssc_DialogFooter, .ssc_DialogFooterAndSpace {
    text-align: right;
    padding: 10px;
    background-color: #95a1c3;
    border-top: 1px solid #1a1a1a;
    overflow: hidden;
}

.ssc_DialogFooterAndSpace {
    margin-top: 20px;
}

.ssc_DialogButton {
    float: right;
    margin-right: 10px;
}


/*
//========================================================================================================================
// Forms
//========================================================================================================================
*/

.ssc_FormHeader {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 0px 6px 0px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.ssc_FHImage {
    width: 1px;
    padding-right: 8px;
}

.ssc_FHText {
    font-weight: bold;
    color: #aa964d;
    vertical-align: middle;
}

.ssc_FormFieldArea {
    margin-top: 10px;
}

.ssc_NoFocusRect {
    outline: 0;
}

.ssc_FormValidationArea {
    width: 100%;
    font-size: 11pt;
    color: #1a1a1a;
    overflow: hidden;
    margin: 16px 0px;
    border-top: solid 1px #1a1a1a;
    border-bottom: solid 1px #1a1a1a;
}

.ssc_FormValidationMsg {
    color: #bf0000;
}

.ssc_FormFooter {
    margin-top: 20px;
    border-bottom: 4px double #1a1a1a;
}

.ssc_FormMessage {
    display: none;
    font-size: 11pt;
    margin-top: 20px;
    border: 1px solid #1a1a1a;
    padding: 8px;
}

.ssc_SmallForm {
    width: 25%;
    min-width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.ssc_MediumForm {
    width: 50%;
    min-width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.ssc_LargeForm {
    width: 75%;
    min-width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.ssc_FullForm {
    width: 98%;
    min-width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.ssc_FormLabel {
    color: #e5e5e5;
    vertical-align: middle;
}

.ssc_FormInputField {
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    padding-right: 4px;
}

.ssc_RequiredField {
    Border-left: 4px solid red;
}

.ssc_FormButton, .ssc_ImageButton {
    font-weight: bold;
    border-radius: 5px;
}

.ssc_ImageButton {
    text-align: right;
}
