@{
    //========================================================================================================================
    // WEBSITE: Poker Playground - Experimental virtual poker
    //
    // _Shuffler_CardExamples.cshtml
    //      Renders the example card images area in the shuffler control panel
    //========================================================================================================================
}

@using SSCasino;
@using SSCasino.Models;
@model CardPack

@{
    // Eexample card font and back images
    <div class="ssc_PanelCardExamplesArea">
        <div class="ssc_PanelCardExample"><img class="ssc_ResponsiveImage ssc_PlayingCard" src="@Url.Content(Model.CardFrontImage)" /></div>
        <div class="ssc_PanelCardExample"><img class="ssc_ResponsiveImage ssc_PlayingCard" src="@Url.Content(Model.CardBackImage)" /></div>
    </div>

    // Hidden Fields
    @Html.Hidden("hdnCardPackId", Model.CardPackId);
}
